page-about {
  .header {
    box-shadow: 0 3px 6px rgba(0,0,0,0.6);
  }

  .toolbar-background {
    background-color: #FFFFFF;
  }

  .toolbar-title {
    font-weight: 600;
    font-size: 1.1em;
    color: #525252;
  }

  .toolbar-title-md {
    text-align: center;
  }

  .arrow button {
    position: absolute;
    background-color: transparent;
    transform: translateY(-50%);
    left: 12px;
  }

  .arrow img {
    width: 10px;
  }

}