page-login {

    .content {
        background-image: url(../assets/imgs/bg-login.png);
    }

    .scroll-content {
        padding: 25px !important;
    }

    #logo {
        top: 8vh;
        position: relative;
        width: 146.8px;
    }

    .ion-ios-envelope,
    .ion-md-envelope {
      content: url(../assets/icon/envelope.svg);
      height: 18.6px;
    }

    .ion-ios-locked,
    .ion-md-locked {
      content: url(../assets/icon/password.svg);
      height: 26px;
    }

    #input {
        position: relative;
        top: 6vh;
        left: 6.7vw;
        width: 240px;
    }

    .item {
        background-color: transparent;
    }

    #btnco {
        width: 100%;
        height: 50px;
        margin: auto;
        top: 17.7vh;
        background-image: linear-gradient(#F1C40F, #FFA300);
        background-color: #F9F9F9;
        text-transform: uppercase;
        font-weight: 600;
        box-shadow: 0 8px 5px rgba(0,0,0,0.2);
    }

    #btnpdc {
        width: 200px;
        height: 50px;
        margin: auto;
        top: 22.7vh;
        background-image: linear-gradient(#F9F9F9, #F2F2F2);
        background-color: #F9F9F9;
        text-transform: uppercase;
        font-weight: 600;
        color: #F9B522;
        box-shadow: 0 8px 5px rgba(0,0,0,0.2);
    }
}
