$break-iphoneSE: 321px;
$break-iphone6: 376px;
$break-iphonePlus: 414px;

page-login {

    .arrow-btn{
        background-color:transparent;
        padding-left:0;
    }
    .arrow{
        width: 22px;
        height: 20px;
    }

    .content {
        background-image: url(../assets/imgs/bg-login.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .scroll-content {
        /* old
        padding: 25px !important;
        */
        /* new */
        display: flex;
        flex-direction: column;
        margin-top:5vh;
    }

    #logo {
        /* old
        top: 8vh;
        position: relative;
        */
        width: 146.8px;
        margin-top:5vh;
    }

    .ion-ios-envelope,
    .ion-md-envelope {
      content: url(../assets/icon/envelope.svg);
      height: 18.6px;
    }

    .ion-ios-locked,
    .ion-md-locked {
      content: url(../assets/icon/password.svg);
      height: 26px;
    }

    #input {
        /* old
        position: relative;
        top: 6vh;
        left: 6.7vw;
        */
        width: 240px;
    }

    .display-error{
        width:240px;
        display: flex;
        padding-left:16px;
        p{
            margin-left:10px;
            color: #FF3131;
            font-size: 9px;
            align-self: center;
        }
    }




    .item {
        background-color: transparent;
    }

    #btn-login{
        margin-top:7vh;
    }

    .recover-btn{
        width:100%;
        margin-bottom: 4vh;
        text-align: center;
        margin-top: -1vh;
        p{
            text-decoration: underline;
        }

        p:hover{
            cursor:pointer;
        }
    }

    #btnco {
        width: 100%;
        height: 50px;
        margin-bottom:2vh;
        /* old
        top: 17.7vh;
        */
        background-image: linear-gradient(#F1C40F, #FFA300);
        background-color: #F9F9F9;
        text-transform: uppercase;
        font-weight: 600;
        box-shadow: 0 8px 5px rgba(0,0,0,0.2);
    }

    #btnpdc {
        width: 200px;
        height: 50px;
        margin: auto;
        /* old
        top: 22.7vh;
        */
        background-image: linear-gradient(#F9F9F9, #F2F2F2);
        background-color: #F9F9F9;
        text-transform: uppercase;
        font-weight: 600;
        color: #F9B522;
        box-shadow: 0 8px 5px rgba(0,0,0,0.2);
        position: relative;
    }

    #social-icons {
        align-self: flex-end;
        padding-right: 9vw;
        color:#95989A;
        @media screen and (max-width: $break-iphoneSE){
            margin-top: 2vh;
            font-size:1.2rem;
        }
        @media screen and (min-width: $break-iphoneSE) and (max-width: $break-iphone6) {
            margin-top: 7vh;
        }
        @media screen and (min-width: $break-iphone6) and (max-width: $break-iphonePlus) {
            margin-top: 12vh;
        }
    }
}
