$break-iphoneSE: 320px;

page-onboarding-step {
    #img {
        height: 48vh;
        background-color: rgba(94, 127, 177, 0.25);
    }

    h1 {
        text-align: center;
        color: #5E7FB1;
        font-weight: 600;
        font-size: 28px;
        margin: 30px 30px 14px;
        @media screen and (max-width: $break-iphoneSE) {
            font-size: 26px;
            margin: 16px 30px 14px;
        }
    }

    p {
        text-align: center;
        color: #5E7FB1;
        font-size: 18px;
        margin: 0 40px 25px;
    }

    .next p {
        font-size: 16px;
        font-weight: 500;
    }

    .button-container{
        width: calc(100% - 25px);
        position:absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom:0px;
    }

    button {
        width:100%;
        background-color: #5E7FB1 !important;
        margin: 30px 0 10px !important;
        @media screen and (max-width: $break-iphoneSE) {
            margin: 15px 0 10px !important;
        }
    }

    .button-inner {
        text-transform: uppercase;
        font-weight: 600;
        color: #FFFFFF;
        font-size: 16px;
    }


}
