.ion-ios-jorganise,
.ion-md-jorganise {
  content: url(../assets/icon/jorganise.svg);
  width: 19.5px;
  height: 26px;
}

.ion-ios-jorganise-outline,
.ion-md-jorganise {
  content: url(../assets/icon/jorganise-outline.svg);
  width: 19.5px;
  height: 26px;
}

.ion-ios-je-participe,
.ion-md-je-participe {
  content: url(../assets/icon/jeparticipe.svg);
  width: 25.28px;
  height: 26px;
}

.ion-ios-je-participe-outline,
.ion-md-je-participe {
  content: url(../assets/icon/jeparticipe-outline.svg);
  width: 25.28px;
  height: 26px;
}


.ion-ios-reservations,
.ion-md-reservations {
  content: url(../assets/icon/reservations.svg);
  width: 21.26px;
  height: 26px;
}

.ion-ios-reservations-outline,
.ion-md-reservations {
  content: url(../assets/icon/reservations-outline.svg);
  width: 21.26px;
  height: 26px;
}


.ion-ios-compte,
.ion-md-compte {
  content: url(../assets/icon/compte.svg);
  width: 26px;
  height: 26px;
}

.ion-ios-compte-outline,
.ion-md-compte {
  content: url(../assets/icon/compte-outline.svg);
  width: 26px;
  height: 26px;
}
