.ion-ios-jorganise,
.ion-md-jorganise {
  background-image: url('../assets/icon/jorganise-orange.svg');
  background-repeat: no-repeat;
  background-position:center;
  /*content: url(../assets/icon/jorganise-orange.svg);*/
  max-width: 19.5px;
  min-height: 26px;
}

.ion-ios-jorganise-outline,
.ion-md-jorganise {
  background-image: url('../assets/icon/jorganise.svg');
  background-repeat: no-repeat;
  background-position:center;
  /*content: url(../assets/icon/jorganise.svg);*/
  max-width: 19.5px;
  min-height: 26px;
}


.ion-ios-je-participe,
.ion-md-je-participe {
  background-image: url('../assets/icon/jeparticipe-orange.svg');
  background-repeat: no-repeat;
  background-position:center;
  /*content: url(../assets/icon/jeparticipe-orange.svg);*/
  max-width: 25.28px;
  min-height: 26px;
}


.ion-ios-je-participe-outline,
.ion-md-je-participe {
  background-image: url('../assets/icon/jeparticipe.svg');
  background-repeat: no-repeat;
  background-position:center;
  /*content: url(../assets/icon/jeparticipe.svg);*/
  max-width: 25.28px;
  min-height: 26px;
}


.ion-ios-reservations,
.ion-md-reservations {
  background-image: url('../assets/icon/reservations-orange.svg');
  background-repeat: no-repeat;
  background-position:center;
  /*content: url(../assets/icon/reservations-orange.svg);*/
  max-width: 21.26px;
  min-height: 26px;
}


.ion-ios-reservations-outline,
.ion-md-reservations {
  background-image: url('../assets/icon/reservations.svg');
  background-repeat: no-repeat;
  background-position:center;
  /*content: url(../assets/icon/reservations.svg);*/
  max-width: 21.26px;
  min-height: 26px;
}


.ion-ios-compte,
.ion-md-compte {
  background-image: url('../assets/icon/compte-orange.svg');
  background-repeat: no-repeat;
  background-position:center;
  /*content: url(../assets/icon/compte-orange.svg);*/
  max-width: 26px;
  min-height: 26px;
}


.ion-ios-compte-outline,
.ion-md-compte {
  background-image: url('../assets/icon/compte.svg');
  background-repeat: no-repeat;
  background-position:center;
  /*content: url(../assets/icon/compte.svg);*/
  max-width: 26px;
  min-height: 26px;
}