page-participate {

  .all {
    position: relative;
    background-color: #FFA300;
    height: 100vh;
  }

  .scroll-content {
    overflow: hidden;
  }

  .img-table {
    height: 50vh;
  }

  .pattern {
    background-image: url(../assets/imgs/pattern-little.svg);
    height: 46vh;
  }

  .text {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: calc(100% - 50px);
    font-weight: 600;
    font-size: 1.45em;
    text-align: center;
    color: #FFFFFF;
  }

  .code {
    position: relative;
    width: calc(100% - 50px);
    background-color: #FFFFFF;
    margin: auto;
    top: 3vh;
  }

  .item-check {
    position: relative;
    margin: auto;
    transform: translateX(-50%);
    left: 50%;
    top: 7vh;
    width: 65px;
    height: 65px;
    background-color: #F9B522;
    box-shadow: none;
  }

  .item-check2 {
    position: relative;
    margin: auto;
    transform: translateX(-50%);
    left: 50%;
    top: 7vh;
    width: 65px;
    height: 65px;
    background-color: white;
    box-shadow: none;
  }

  .text-input {
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
  }

  span.button-inner {
    position: relative;
    margin: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 29.75px;
    height: 21.64px;
    opacity: 0.6;
  }

}
