$break-iphoneX: 720px;
$break-iphoneSE: 321px;
$break-iphone6: 376px;
$break-iphonePlus: 414px;

page-participate {

  .all {
    position: relative;
    background-color: #FFA300;
    height: 100vh;
  }

  .scroll-content {
    overflow: hidden;
  }

  .full {
    background-color: #F2F2F2;
    padding: 25px;
  }
  .full2
  {
    width: 100%;
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  }
  .new button {
    width: 100%;
    background-image: linear-gradient(#F1C40F, #FFA300);
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
  }

  .img-table {
    height: 56vh;
    min-width: 100%;
    background-image: url(../assets/imgs/code-empty.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .padding {
    /* new */
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    position: absolute;
    @media screen and (min-height: $break-iphoneX) {
      bottom:17vh;
    }
    bottom:14vh;
    /* old
    padding: 0 25px;
    */
  }

  .pattern {
    background-image: url(../assets/imgs/pattern-little.svg);
    height: 46vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
  }

  .text {
    /* old
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    */
    font-weight: 600;
    font-size: 1.45em;
    text-align: center;
    color: #FFFFFF;
  }

  .code {
    /* old
    position: relative;
    width: 100%;
    top: 3vh;
    */

    background-color: #FFFFFF;
    margin-top:3vh;
  }

  .item-check {
    /* new */
    margin: auto;
    margin-top:2.2vh;

    /* old
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 6vh;
    */

    width: 60px;
    height: 60px;
    background-color: #F9B522;
    box-shadow: none;

  }

  .item-check2 {
    /* new */
    margin: auto;
    margin-top:2.2vh;
    /* old
    position: relative;
    margin: auto;
    transform: translateX(-50%);
    left: 50%;
    top: 6vh;
    */
    width: 60px;
    height: 60px;
    background-color: white;
    box-shadow: 0 8px 5px rgba(0,0,0,0.2);

  }

  .item-check span.button-inner {
    position: relative;
    margin: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 29.75px;
    height: 21.64px;
    opacity: 0.6;
  }

  .item-check2 span.button-inner {
    position: relative;
    margin: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 29.75px;
    height: 21.64px;
  }

  .text-input {
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
  }

}
