page-contact {
    .scroll-content {
        background-color: #F9F9F9;
        padding: 25px!important;
    }

    h1 {
        color: #525252;
        font-size: 1.45em;
        font-weight: 600;
        margin-top: 5px !important;
    }

    #container {
        position: absolute;
        top: 15vh;
        width: calc(100% - 50px);
        height: 54%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #525252;
        font-size: 1.15em;
        font-weight: 500;
        line-height: 62px;
    }

    .card {
        height: 62px;
        background-color: #FFFFFF;
        box-shadow: 0 0 2px rgba(0,0,0, 0.08);
    }

    img {
        height: 28px;
        vertical-align: middle;
        margin-left: 15px;
        margin-right: 5px;
    }
}