page-contact {
    .scroll-content {
        background-color: #F2F2F2;
        padding: 25px!important;
    }

    h1 {
        color: #525252;
        font-size: 1.45em;
        font-weight: 600;
        margin-top: 5px !important;
    }

    #container {
        position: absolute;
        top: 15vh;
        width: calc(100% - 50px);
        min-height: 54%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #525252;
        font-size: 1.15em;
        font-weight: 500;
        line-height: 62px;

        @media screen and (max-width: $break-iphoneSE){
            font-size:1em;
        }
    }

    .card {
        height: 62px;
        background-color: #FFFFFF;
        box-shadow: 0 0 2px rgba(0,0,0, 0.08);
        margin-bottom: 20px;
    }

    .info {
        height: 21.59px;
    }

    .paiement {
        height: 18.18px;
    }

    .faq {
        height: 25px;
    }

    .contact {
        height: 28px;
    }

    img {
        vertical-align: middle;
        margin-left: 15px;
        margin-right: 5px;
    }
}