page-home {

//////      CSS home

    #map {
        height: 100%;
    }

    .z-index {
        z-index: 999;
    }

    #slides {
        position: absolute; 
        bottom: 10px;
    }

    #slides img {
        width: 100px;
        height: 89px;
    }


    ////   BTN

    .item {
      background-color: #5E7FB1;
    }

    #lbl-0 {
      content: url(../assets/icon/combien.svg);
      width: 20px;
      height: 15px;
    }

    #lbl-1 {
      content: url(../assets/icon/heure.svg);
      width: 20.68px;
      height: 20px;
    }

    .stylebtn {
      text-transform: none;
    }

    .stylecol {
      width: 155px;
      // height: 50px;
    }

    .ion-ios-combien,
    .ion-md-combien {
      content: url(../assets/icon/combien.svg);
      height: 15px;
    }

    .ion-ios-heure,
    .ion-md-heure {
      content: url(../assets/icon/heure.svg);
      height: 20px;
    }

    .stylebtn p {
      font-size: 1em;
      padding-left: 0.4em;
    }
    
    ion-icon {
      padding-right: 0 !important;
    }


    ////   CARD

    // ion-card {
    //   width: 320px !important;
    // }

    .card-content {
      padding: 0 !important;
    }

    img {
      margin: 10px;
    }

    h2 {
      font-size: 16px !important;
      color: #5E7FB1 !important;
    }

    h3 {
      font-size: 14px !important;
      color: #5E7FB1 !important;
    }

    .row h4 {
      font-size: 12px !important;
      color: #5E7FB1;
    }

    .tab-button-text {
      font-size: 10px !important;
    }

//////      Animation pin "geolocalisation"
    
    .s {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
      }
  
      .s:nth-child(1) {
        background: #5E7FB1;                              //vert :33ffbb
        -webkit-animation: r0 2s 0s ease-out infinite;
        -moz-animation: r0 2s 0s ease-out infinite;
        animation: r0 2s 0s ease-out infinite;
      }
      
      @-webkit-keyframes r0 {
        0% {
          box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(26, 255, 179, 0);       // vert : #1affb3;
        }
        10% {
          box-shadow: 0 0 8px 6px #5E7FB1, 0 0 12px 10px #333, 0 0 12px 14px #5E7FB1;
        }
        100% {
          box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(26, 255, 179, 0);
        }
      }
      @-moz-keyframes r0 {
        0% {
          box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(26, 255, 179, 0);
        }
        10% {
          box-shadow: 0 0 8px 6px #5E7FB1, 0 0 12px 10px #333, 0 0 12px 14px #5E7FB1;
        }
        100% {
          box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(26, 255, 179, 0);
        }
      }
      @keyframes r0 {
        0% {
          box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0), 0 0 0px 0px rgba(242,242,242,0.5), 0 0 0px 0px rgba(26, 255, 179, 0);
        }
        10% {
          box-shadow: 0 0 8px 6px #5E7FB1, 0 0 12px 10px rgba(242,242,242,0.5), 0 0 12px 14px #5E7FB1;
        }
        100% {
          box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0), 0 0 0px 40px rgba(242,242,242,0.5), 0 0 0px 40px rgba(26, 255, 179, 0);
        }
      }

    
}