page-detail-menu {

  .scroll-content {
    padding: 30px 25px;
    background-color: #F4FAFD;
  }

  ////    NavBar

  .toolbar-title {
    font-weight: 600;
    font-size: 16px;
    color: #5E7FB1;
  }

  .arrow button {
    position: absolute;
    background-color: transparent;
    transform: translateY(-50%);
    left: 12px;
  }

  .arrow img {
    width: 12px;
  }

  p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #5E7FB1;
  }

  .item-inner {
    font-size: 16px;
    font-weight: 500;
    color: #5E7FB1;
  }

}
