<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>{{navParams.get('name')}} </ion-title>
    <div class="arrow">
        <button (click)="goBack()"> <img src="/assets/icon/arrow-left-grey.svg"> </button>
      </div>
  </ion-navbar>

</ion-header>


<ion-content>


  <p>Entrée</p>
 <ion-list radio-group  [(ngModel)]="entree">

<ng-container *ngFor="let item of navParams.get('entree'); let i = index">
    <ion-card>
   <ion-item>
      <ion-label>{{item.name}}</ion-label>
      <ion-radio (ionSelect)="onChangeEntree()" value={{item.id}}></ion-radio>
    </ion-item>


  </ion-card>

</ng-container>

 </ion-list>

  <p>Plat</p>
 <ion-list radio-group  [(ngModel)]="plat">

    <ng-container *ngFor="let item of navParams.get('plat')">
      <ion-card>

  <ion-item>
          <ion-label>{{item.name}}</ion-label>
          <ion-radio (ionSelect)="onChangePlat()" value={{item.id}}></ion-radio>
        </ion-item>



      </ion-card>

    </ng-container>

 </ion-list>
  <p>Dessert</p>
<ng-container *ngIf="navParams.get('nbMeal')===3">
 <ion-list radio-group  [(ngModel)]="dessert">

    <ng-container *ngFor="let item of navParams.get('dessert')">
      <ion-card>
        <ion-item>
          <ion-label>{{item.name}}</ion-label>
          <ion-radio (ionSelect)="onChangeDessert()" value={{item.id}}></ion-radio>
        </ion-item>


      </ion-card>

    </ng-container>

 </ion-list>
</ng-container>

    <ng-container *ngIf="navParams.get('nbMeal')===2">
        <ion-list radio-group  [(ngModel)]="entree">

            <ng-container *ngFor="let item of navParams.get('dessert')">
                <ion-card>
                    <ion-item>
                        <ion-label>{{item.name}}</ion-label>
                        <ion-radio (ionSelect)="onChangeDessert()" value={{item.id}}></ion-radio>
                    </ion-item>


                </ion-card>

            </ng-container>

        </ion-list>
    </ng-container>

  </ion-content>

  <ion-footer>
    <ng-container *ngIf="showButton">

      <div id="commander"> 
          <button ion-button round (click)="goBackMenu()"> Commander &nbsp;&nbsp;&nbsp;&nbsp; x1 &nbsp;&nbsp;&nbsp;&nbsp; {{navParams.get('price')}} € </button>
      </div>
      
    </ng-container>
  </ion-footer>



