<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>Menu du jour </ion-title>
    <ion-buttons class="arrow" left>
      <button ion-button navPop icon-only>
        <ion-icon ios="ios-arrow" md="md-arrow"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>


  <p>Entrée</p>
  <ion-list radio-group  [(ngModel)]="entree">

<ng-container *ngFor="let item of navParams.get('entree')">
    <ion-card>
    <ion-item>

      <ion-label>{{item.name}}</ion-label>
      <ion-radio (ionSelect)="onChangeEntree()" value={{item.id}}></ion-radio>

    </ion-item>
    <!-- <ion-item>
        <ion-label>{{item.name}}</ion-label>
        <ion-checkbox [(ngModel)]="Entree" (ionChange)="onChangeEntree()"></ion-checkbox>
      </ion-item> -->
  </ion-card>

</ng-container>

  </ion-list>

  <p>Plat</p>
  <ion-list radio-group  [(ngModel)]="plat">

    <ng-container *ngFor="let item of navParams.get('plat')">
      <ion-card>
        <ion-item>

          <ion-label>{{item.name}}</ion-label>
          <ion-radio (ionSelect)="onChangePlat()" value={{item.id}}></ion-radio>

        </ion-item>
      </ion-card>

    </ng-container>

  </ion-list>

  <p>Dessert</p>
  <ion-list radio-group  [(ngModel)]="dessert">

    <ng-container *ngFor="let item of navParams.get('dessert')">
      <ion-card>
        <ion-item>

          <ion-label>{{item.name}}</ion-label>
          <ion-radio (ionSelect)="onChangeDessert()" value={{item.id}}></ion-radio>

        </ion-item>
      </ion-card>

    </ng-container>

  </ion-list>


  <br/>
  <br/>
  <br/>
  <br/>
  <ng-container *ngIf="showButton">

    <button (click)="goBackMenu()" >Commander x1 {{navParams.get('price')}}€</button>


  </ng-container>

</ion-content>

