page-detail-menu {


  .scroll-content {
    padding: 30px 25px;
    background-color: #F2F2F2;
  }


  ////    NavBar


  .header {
    box-shadow: 0 3px 6px rgba(0,0,0,0.06);
  }

  .toolbar-background {
    background-color: #FFFFFF;
  }

  .toolbar-title {
    font-weight: 600;
    font-size: 1.1em;
    color: #525252;
  }

  .toolbar-title-md {
    text-align: center;
  }

  .arrow button {
    position: absolute;
    background-color: transparent;
    transform: translateY(-50%);
    left: 12px;
  }

  .arrow img {
    width: 12px;
  }



  ////    Card choice

  .card {
    background-color: #FFFFFF;
    box-shadow: 0 0 2px rgba(0,0,0,0.08);
  }

  p {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #525252;
  }

  .item-inner {
    font-size: 1em;
    font-weight: 500;
    color: #333333;
  }



  ////    Radio button


  .radio-ios .radio-checked .radio-inner {
    left: 7px;
    top: 4px;
    width: 7px;
    height: 14px;
    border-color: #F9B522;
    box-shadow: 0 2px #F1F1F1;
}

  .radio-md .radio-icon {
    border-color: #F9B522;
    box-shadow: 0 2px #F1F1F1;
    width: 22px;
    height: 22px;
  }

  .radio-md .radio-inner {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #F9B522;
}



////    BTN commander


  #commander {
    background-color: #FFFFFF;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
  }

  #commander button {
    transform: translateX(-50%);
    left: 50%;
    font-weight: 600;
    background-image: linear-gradient(#F1C40F, #FFA300);
    text-transform: uppercase;
  }

}
