page-cgu {
  .arrow-btn{
    background-color:transparent;
    padding-left:0;
  }
  .arrow{
    width: 22px;
    height: 20px;
  }
  .scroll-content{
    padding: 25px !important;
  }
  h1{
    color: #525252;
    font-size: 1.45em;
    font-weight: 600;
    margin-top: 20px !important;
  }

}