$break-iphoneSE: 321px;
$break-iphone6: 376px;
$break-iphonePlus: 414px;

page-confidential-policy {
  ////    NavBar

  .header {
    box-shadow: 0 3px 6px rgba(0,0,0,0.06);
  }

  .toolbar-background {
    background-color: #FFFFFF;
  }

  .toolbar-title {
    font-weight: 600;
    font-size: 1.1em;
    color: #525252;
  }

  .toolbar-title-md {
    text-align: center;
  }

  .arrow button {
    position: absolute;
    background-color: transparent;
    transform: translateY(-50%);
    left: 12px;
  }

  .arrow img {
    width: 10px;
  }

  .scroll-content{
    padding:20px;
    background-color:#F2F2F2;
  }

  .global-content{
    background-color:#fff;
    padding:4vw;

    h3{
      font-size: 1.3em;
    }
    p, ul, li {
      font-size: 1em;
      font-weight: 500;
      color: #333333;
    }

    li {
      line-height: 24px;
    }

    ul {
      margin-left: 0px;
    }

    ul, li {
      margin-left: -10px;
    }


  }
}
