page-information {

  .arrow button {
    position: absolute;
    background-color: transparent;
    transform: translateY(-50%);
    left: 12px;
    top: 40px;
  }

  ion-icon::before{
    visibility: hidden;
  }

  .toolbar-title-md {
    text-align: center;
    margin-left: -30px;
  }

  .arrow img {
    width: 10px;
  }

  .card
  {
    margin-bottom: 30px;
  }

  .scroll-content
  {
    background-color: #F2F2F2;
  }


}
