page-book {

  .full {
    background-color: #F2F2F2;
    padding: 25px;
  }

  ////    Reservation en cours

  .new h2 {
    font-size: 20px;
    font-weight: 600;
    color: #525252;
  }

  .new p {
    font-size: 14px;
    font-weight: 400;
    color: #525252;
  }

  .new button {
    width: 100%;
    background-image: linear-gradient(#F1C40F, #FFA300);
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
  }

  .old p {
    font-size: 20px;
    font-weight: 600;
    color: #525252;
  }

  .card-content {
    padding: 0 !important;
  }

  #container {
    display: flex;
  }

  #img {
    width: 32vw;
  }

  #info {
    width: 52vw;
  }

  #info h2 {
    margin: 10px 0;
  }

  #info h3 {
    display: flex;
  }
  
  #info h4 {
    text-align: right;
  }

  #info img {
    height: 15px;
    margin: 0;
    width: 20px;
    margin: 0 5px 0 0;
  }

  img {
    margin: 10px;
    width: 100px;
    height: 89px;
  }

  .card {
    margin: 12px 0;
    width: 100%;
    box-shadow: 0 0 2px rgba(0,0,0,0.08);
  }

  .card h2 {
    color: #333333;
    font-weight: 600;
  }

  .card h3 {
    color: #525252;
    margin-bottom: 0.7vh;
    font-size: 12px;
  }

  .row h4 {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
  }


}