page-recover{


  .arrow-btn{
    background-color:transparent;
    padding-left:0;
    margin-top: 5vh;
  }
  .arrow{
    width: 22px;
    height: 20px;
  }

  #logo{
    width: 146.8px;
    margin-top: 5vh;
  }

  #btnco{
    width: 100%;
    height: 50px;
    margin-top:7vh;
    margin-bottom: 2vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F1C40F), to(#FFA300));
    background-image: linear-gradient(#F1C40F, #FFA300);
    background-color: #F9F9F9;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
    border-radius: 64px;
  }

  .danger{
    margin-top: 10px;
    color: red;
  }
  .success
  {
    margin-top: 10px;
    color:green;

  }

}