<ion-content padding>

    <div id="img">
        <img src={{img}}/>
        <button class="arrow-btn" (click)="goBack()"><img class="arrow" src="assets/icon/arrow-left-grey.svg"></button>
    </div>

  <div id="logo"> <img src = "assets/icon/logo-easylunch.svg"> </div>

      <div id="input">
          <ion-item>
            <ion-label color="secondary"> <ion-icon name="compte"></ion-icon> </ion-label>
            <ion-input type="text" [(ngModel)]="name" placeholder="Prénom et Nom" clearInput> </ion-input>
          </ion-item>

          <div class="display-error" *ngIf="errorName">
              <img src="/assets/icon/error-5.svg" alt="" width="20px">
              <p>Veuillez renseigner le nom ou prénom</p>
          </div>

          <ion-item>
            <ion-label color="secondary"> <ion-icon name="envelope"></ion-icon> </ion-label>
            <ion-input type="email" [(ngModel)]="email" placeholder="Email" clearInput> </ion-input>
          </ion-item>

          <div class="display-error" *ngIf="errorMail">
              <img src="/assets/icon/error-5.svg" alt="" width="20px">
              <p>Adresse e-mail invalide</p>
          </div>

          <ion-item>
            <ion-label color="secondary"> <ion-icon name="tel"></ion-icon> </ion-label>
            <ion-input type="number" [(ngModel)]="phone" placeholder="Portable" (maxlength)="10" clearInput> </ion-input>
          </ion-item>

          <div class="display-error" *ngIf="errorPhone">
              <img src="/assets/icon/error-5.svg" alt="" width="20px">
              <p>Numéro de téléphone invalide</p>
          </div>

          <ion-item>
              <ion-label color="secondary"> <ion-icon name="locked"></ion-icon> </ion-label>
            <ion-input type="password" [(ngModel)]="password"  placeholder="Mot de passe" clearInput> </ion-input>
          </ion-item>

          <div class="display-error" *ngIf="errorPass">
              <img src="/assets/icon/error-5.svg" alt="" width="20px" >
              <p>Mot de passe invalide</p>
          </div>

    </div>

      <div id="btn-login">
        <button id="btnco" ion-button round (click)="openAddCard()"> Créer mon compte </button>

        <button id="btnpdc" ion-button round (click)="openLogin()"> Déjà un compte ? </button>
      </div>
     <!--
      <div id="social-icons">
          <ng-container>
              <p>Créer compte via</p>
              <a href="#"><img src="assets/icon/Facebook.svg" width="50px"></a>
              <a href="#"><img src="assets/icon/Google+.svg" width="50px"></a>
          </ng-container>
      </div>
      -->
</ion-content>

