page-details {

  .scroll-content {
    padding: 30px 25px;
    background-color: #F2F2F2;
  }

  ////    NavBar

  .header {
    box-shadow: 0 0 6px rgba(0,0,0,0.16);
  }

  .toolbar-background {
    background-color: #FFFFFF;
  }

  .toolbar-title {
    font-weight: 600;
    font-size: 1.1em;
    color: #525252;
  }

  .toolbar-title-md {
    text-align: center;
  }

  .arrow button {
    position: absolute;
    background-color: transparent;
    transform: translateY(-50%);
    left: 12px;
  }

  .arrow img {
    width: 12px;
  }



  ////    Name + description


  .name {
    font-weight: 600;
    font-size: 20px;
    color: #525252;
    margin-bottom: 20px;
  }

  .description {
    font-weight: 500;
    font-size: 1em;
    color: #525252;
  }



  ////    Number picker


  $size: 17px;

  .number-picker {
    position: relative;
    top: 4.5vh;
    display: flex;
    width: 200px;
    height: 50px;
    margin: auto;
  }

  $size: 17px;

  .left {
    width: 65px;
    height: 50px;
    background-image: linear-gradient(#F1C40F, #FFA300);
    border-bottom-left-radius: $size * 2;
    border-top-left-radius: $size * 2;
  }

  .left img {
    height: 22px;
    width: 22px;
  }

  .right {
    width: 65px;
    height: 50px;
    background-image: linear-gradient(#F1C40F, #FFA300);
    border-bottom-right-radius: $size * 2;
    border-top-right-radius: $size * 2;
  }

  .right img {
    height: 22px;
  }

  .number {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 50px;
    margin: 0;
    background: #FFFFFF;
    color: #5E7FB1;
  }

  .number-picker .text-input {
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }

  .number-picker p {
    text-align: center;
    color: #FFFFFF;
  }

  .card {
    position: relative;
    top: 7.5vh;
    display: block;
    margin: auto;
    width: 100%;
    height: 175px;
    box-shadow: 0 0 2px rgba(0,0,0,0.08);
  }

  .card .scroll-content {
    background-color: #FFFFFF;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 500;
    color: #525252;
    overflow: hidden;
  }

  .card .text-input {
    font-size: 0.875em;
    font-weight: 300;
    font-style: italic;
    height: 100%;
  }

  .size {
    height: 20vh;
  }

  #commander {
    background-color: #FFFFFF;
    box-shadow: 0 0 6px rgba(0,0,0,0.16);
  }

  #commander button {
    transform: translateX(-50%);
    left: 50%;
    font-weight: 600;
    background-image: linear-gradient(#F1C40F, #FFA300);
  }

}
