page-details {

  $size: 17px;
  .right,
  .left {

    height: $size * 2;
    width: $size;
  }



  .right {
    background-color: #5E7FB1;
    border-bottom-right-radius: $size * 2;
    border-top-right-radius: $size * 2;
  }

  .number
  {
    width: 25%;
  }



  .left {
    background-color: #5E7FB1;
    border-bottom-left-radius: $size * 2;
    border-top-left-radius: $size * 2;
  }

  .number-picker
  {

  }

}
