<ion-content style="background-color: #F4FAFD;">

    <div id="restau">
        <div id="img">
            <img src={{img}}/>
            <button (click)="goBack()"> <img class="arrow" src="../assets/icon/arrow-left-white.svg"> </button>
        </div>


        <div id="cardrestau">
            <ion-card>
                <ion-card-content>
                    <h1>{{ name }}</h1>
                    <h2>Restaurant français{{ desc }}</h2>
                    <p>{{ address }}</p>
                </ion-card-content>
            </ion-card>
        </div>
    </div>

  <div class="full">

    <ng-container *ngIf="entree">
    <p>Entrée</p>

    <ng-container *ngFor="let item of navParams.get('entree');">

      <!--<button ion-button (click)="openDetail()">-->
      <ion-card >
        <ion-card-header style="color: #5E7FB1;">
          {{item.name}}

        </ion-card-header>
        <ion-card-content>
          {{item.description}}
          <div class="price">
            {{item.price}}€
          </div>
        </ion-card-content>
      </ion-card>


    </ng-container>

    </ng-container>
<ng-container *ngIf="plat">
    <p>Plat</p>

    <ng-container *ngFor="let item of navParams.get('plat');">
      <ion-card >
        <ion-card-header>
          {{item.name}}
        </ion-card-header>
        <ion-card-content>
          {{item.description}}
          <div class="price">
            {{item.price}}€
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>


</ng-container>
    <ng-container *ngIf="dessert">
    <p>Dessert</p>


    <ng-container *ngFor="let item of navParams.get('dessert');">

      <ion-card >
        <ion-card-header>
          {{item.name}}

        </ion-card-header>
        <ion-card-content>
          {{item.description}}
          <div class="price">
            {{item.price}}€

          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
    </ng-container>
    <button ion-button (click)="openLogin()">Payer et Réserver {{navParams.get('total')}}€ </button>
  </div>





</ion-content>
