<ion-content style="background-color: #F4FAFD;">

    <div id="restau">
        <div id="img">
            <img src={{img}}/>
            <button (click)="goBack()"> <img class="arrow" src="../assets/icon/arrow-left-white.svg"> </button>
        </div>


        <div id="cardrestau">
            <ion-card>
                <ion-card-content>
                    <h1>{{ name }}</h1>
                    <h2>{{ desc }}</h2>
                    <p>{{ address }}</p>
                </ion-card-content>
            </ion-card>
        </div>
    </div>

  

  <div id="repas">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img class="heure" src="assets/icon/heure2.svg"> <h3> Auj. à {{schedule}} </h3>
                </ion-col>
                
                <ion-col>
                    <img class="cmb" src="assets/icon/combien2.svg"> <h3> {{nbPers}} personnes </h3>
                </ion-col>
            </ion-row>
        </ion-grid>

      <ng-container *ngIf="printCode">

          Le code de réservation à partager :
          <div>
          {{code}}

      </div>

      </ng-container>


      <ng-container *ngIf="menu">
          <ion-card >
              <ion-card-content>
          <p>{{nameMenu}}</p>

          <ng-container *ngFor="let item of menuList;">

                      <p>{{item}}</p>


          </ng-container>
              </ion-card-content>
      </ion-card>
      </ng-container>


    <ng-container *ngIf="entree">
   

    <ng-container *ngFor="let item of entreeList;">

      <!--<button ion-button (click)="openDetail()">-->
      <ion-card >
        <ion-card-content>
            <h4>Entrée</h4>
            <div class="choix">
                <h3> {{item.name}} </h3>
                <p> {{item.description}} </p>
            </div>

            <div class="price">
                {{item.price}}€
            </div>
        </ion-card-content>
      </ion-card>


    </ng-container>

    </ng-container>
<ng-container *ngIf="plat">

    <ng-container *ngFor="let item of platList;">
      <ion-card >
          <ion-card-content>
                <h4>Plat</h4>
              <div class="choix">
                  <h3> {{item.name}} </h3>
                  <p> {{item.description}} </p>
              </div>

              <div class="price">
                  {{item.price}}€
              </div>
          </ion-card-content>

      </ion-card>
    </ng-container>


</ng-container>
    <ng-container *ngIf="dessert">

    <ng-container *ngFor="let item of dessertList;">
        <ion-card >
            <ion-card-content>
                    <h4>Dessert</h4>
                <div class="choix">
                    <h3> {{item.name}} </h3>
                    <p> {{item.description}} </p>
                </div>

                <div class="price">
                    {{item.price}}€
                </div>
            </ion-card-content>
        </ion-card>
      </ng-container>
    </ng-container>
      <ng-container *ngIf="total!==0">
    <div id="payer"> 

            <button ion-button round (click)="openLogin()">Payer et Réserver {{navParams.get('total')}}€ </button>

    </div>
      </ng-container>
  </div>





</ion-content>
