page-recap {

  .content {
    background-color: #F2F2F2;
  }
  .size {
    height: 20vh;
  }

  .choix{
    display:flex;
  }
  .choice{
    width:80%;
  }

  .price{
    width:20%;
    margin-top:0 !important;
  }


  ////    Image restaurant
  
  
    #img {
      position: relative;
      z-index: 1;
      height: 22.3vh;
    }
  
    #img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
  
  
  ////    Btn return
  
  
    #img button {
      position: absolute;
      background-color: transparent;
      top: 25px;
      left: 14px;
    }
  
    #img .arrow {
      width: 22px;
      height: 20px;
    }

  ////    Pour combien / A quelle heure
    
    .grid {
      padding: 5px 20px;
    }

    .row {
      position: relative;
      transform: translateX(-50%);
      left: 50%;
      width: calc(100% - 20px);
    }

    .heure {
      height: 24.19px;
    }

    .cmb {
      height: 18.75px;
    }

    .col {
      display: flex;
      padding: 0;
    }

    .col img {
      margin: 5px;
    }

    .col h3 {
      color: #525252;
      font-size: 1.14em;
      font-weight: 600;
      margin: 9px 2px;
    }

    .row {
      margin: 15px 0 10px;
    }

  ////    Card restau
  
  
    #restau {
      height: 32vh;
    }
  
    #cardrestau {
      width: 100%;
      transform: translate(-50%, -50%);
      left: 50%;
      display: flex;
      position: absolute;
      z-index: 1;
    }

    #cardrestau h1 {
      font-size: 1.3em;
      font-weight: 600;
    }
  
    #cardrestau h2 {
      font-size: 1.1em;
      font-weight: 300;
    }
  
    #cardrestau p {
      text-align: center;
      font-size: 1.1em;
      font-weight: 500;
      margin-top: 10px;
      color: #333333;
    }

    #cardrestau .card {
      box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    }

    p.city {
      margin-top: 0!important;
    }

    
  ////    Card menu
  
  
    .card {
      margin: 12px 25px;
      width: calc(100% - 50px);
      box-shadow: 0 0 2px rgba(0,0,0, 0.08);
    }
  
    .card-content {
      margin: auto;
      text-align: center;
    }

  
  
  ////   Menu scroll
  
  
    .scrollmenu {
      top: 3vh;
      height: 30px;
    }
  
    a {
      color: #5E7FB1;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
    }
  
  
  ////   Card repas

    #repas .card-content {
      text-align: left;
    }

    #repas h4 {
      font-size: 1.180em;
      font-weight: 500;
      color: #333333;
      margin-bottom: 8px;
    }

    #repas .card h3 {
      font-size: 1em;
      font-weight: 300;
      color: #333333;
    }

    #repas p {
      font-size: 1em;
      font-weight: 300;
      font-style: italic;
      margin-top: 10px;
      color: #333333;
    }
  
    .price {
      text-align: right;
      margin-top: 3vh;
      color: #333333;
      font-weight: 500;
    }
  
  
        ////   Card menu du jour
    
    h2 img {
      height: 14.27px;
    }
    
    .plat h3 {
      margin-top: 20px;
    }
  
    .dessert h3 {
      margin-top: 20px;
    }
  

      ////    FOOTER

          //  TOTAL

          #total {
            display: flex;
            justify-content: space-between;
            margin: 13px 25px;
            color: #525252;
            margin-top:4vh;
          }

          .text {
            font-size: 1.4em;
            font-weight: 600;
            text-transform: uppercase;
          }

          .total {
            font-size: 1.4em;
            font-weight: 500;
          }


          //   BTN 'Confirmer et Payer'

          #payer {
            padding: 5px 25px;
            position: relative;
            text-align: center;
            background-color: #FFFFFF;

            p{
              font-size: 10.5px;


            }
          }
        
          #payer button {
            width: 100%;
            text-transform: uppercase;
            font-weight: 600;
            background-image: linear-gradient(#F1C40F, #FFA300);
          }



        ////    RECAP RESERVATION

        .resacode {
          display: flex;
          flex-direction: column;
          margin: 5px 30px 30px;
        }

        .resa {
          margin: auto;
          margin-bottom: 20px;
          font-size: 16px;
          font-weight: 600;
          color: #525252;
        }

        .code {
          margin: auto;
          display: flex;
          height: 8.8vh;
          width: 100%;
          background-color: #F2F2F2;
        }

        .code p {
          margin: auto !important;
          font-size: 18px !important;
          font-weight: 500 !important;
          color: #333333 !important;
          font-style: normal !important;
        }
        


  }
  

