page-add-card {
    .scroll-content {
        background-color: #F2F2F2;
        padding: 25px!important;
    }

    .header {
        box-shadow: 0 3px 6px rgba(0,0,0,0.06);
    }
    
    .toolbar-title {
        font-weight: 600;
        font-size: 1.1em;
        color: #525252;
    }

    .toolbar-title-md {
        text-align: center;
    }

    .toolbar-background {
        background-color: #FFFFFF;
    }
    

    .arrow button {
        position: absolute;
        background-color: transparent;
        left: 12px;
        top:11px;
    }

    .arrow img {
        width: 12px;
    }


    ////        CARD
    

    #card {
        background-image: url(../assets/imgs/carte.svg);
        //background-image: url(../assets/imgs/carte.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 188px;
        border-radius: 20px;
        color:white;
        position:relative;
    }

        #card-number {
            position: absolute;
            top: 10.5vh;
            left: 8vw;
            width: 250px;
        }
        
        #card-expire {
            position: absolute;
            top: 14.5vh;
            left: 8vw;
            width: 80px;
        }


        #card-name {
            position: absolute;
            top: 20vh;
            left: 8vw;
        }

        #card-ccv {
            position: absolute;
            top: 14.5vh;
            right: 8vh;
            width: 50px;
        }
       
            .card-text {
                font-size: 9px;
            }

            .card-nb {
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.2em;
            }

            .card-num {
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.2em;
            }



//////        Input Card


    #numero {
        background-color: #FFFFFF;
        width: 100%;
        height: 86px;
        margin-top: 15px;
    }

    .flex {
        display: flex;
        margin-top: 10px;
    }

    #date {
        background-color: #FFFFFF;
        width: 50%;
        height: 86px;
        margin-right: 10px;
    }

    #CCV {
        background-color: #FFFFFF;
        width: 50%;
        height: 86px;
    }

    #nom {
        background-color: #FFFFFF;
        width: 100%;
        height: 86px;
        margin-top: 10px;
    }



////        Input Text


    #numero h2 {
        position: relative;
        top: 20px;
        left: 15px;
        font-size: 14px;
        font-weight: 500;
        color: #333333;
    }

    

    .flex h2 {
        position: relative;
        top: 20px;
        left: 15px;
        font-size: 14px;
        font-weight: 500;
        color: #333333;
    }

    

    #nom h2 {
        position: relative;
        top: 20px;
        left: 15px;
        font-size: 14px;
        font-weight: 500;
        color: #333333;
    }



////        Input Number 


    #input .item-inner {
        border: none;
    }

    #input .item {
        position: relative;
        top: 10px;
    } 

    .text-input {
        letter-spacing: 0.2em;
    }



////        BTN


    .button {
        position: relative;
        margin: auto;
        transform: translateX(-50%);
        left: 50%;
        background-image: linear-gradient(#F1C40F, #FFA300);
        box-shadow: 0 8px 5px rgba(0,0,0,0.2);
        width: 65px;
        height: 65px;
        top: 2vh;
    }

    span.button-inner {
        width: 29.75px;
        transform: translateX(-25%);
      }


    // Button select date
    .expire-date-btn {
        background-image: none;
        background-color: transparent;
        width:100%;
        height:50px;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin:0;
        color:#000;
        text-align:center;
        letter-spacing: 0.2em;

        .button-inner{
            width:0;
            margin-left:30px;
        }

        ion-datetime{
            color: transparent;
        }
    }

}



