page-add-card {
    .scroll-content {
        background-color: #F4FAFD;
        padding: 25px!important;
        overflow: hidden;
    }

    .toolbar-ios ion-title {
        padding: 0;
    }

    .toolbar-title {
        color: #5E7FB1;
    }
    
    #card {
        background-image: url(../assets/imgs/carte.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 188px;
        border-radius: 20px;
        color:white;
        position:relative;
    }

    #card-number
    {
        position: relative;
        letter-spacing: 0.2em;
        top: 37.23%;
        left:9.23%;
        width: 73.85%;
        height: 10.11%;
    }

    #card-text-expire {
        float: left;
        position:relative;
        font-size: 9px;
        left:9.23%;
        top:38.66%;
    }

    #card-text-ccv {
        font-size: 9px;
        top:38.66%;
        left: 50%;
        position:relative;
    }

    #card-text-name {
        position:relative;
        font-size: 9px;
        left:9.23%;
        top:46%;
    }

    #card-expire {
        float: left;
        position:relative;
        left:-9%;
        top:44%;
        letter-spacing: 0.2em;
    }

    #card-name {
        position:relative;
        left:9.23%;
    top:46%;
        letter-spacing: 0.2em;
    }

    #card-ccv {
        position: relative;
        top:38.66%;
        left:49%;
    }






////        Input Card


    #numero {
        background-color: #FFFFFF;
        width: 100%;
        height: 86px;
        margin-top: 15px;
    }

    .flex {
        display: flex;
        margin-top: 10px;
    }

    #date {
        background-color: #FFFFFF;
        width: 50%;
        height: 86px;
        margin-right: 10px;
    }

    #CCV {
        background-color: #FFFFFF;
        width: 50%;
        height: 86px;
    }

    #nom {
        background-color: #FFFFFF;
        width: 100%;
        height: 86px;
        margin-top: 10px;
    }



////        Input Text


    #numero h2 {
        position: relative;
        top: 20px;
        left: 15px;
        font-size: 14px;
        font-weight: 500;
        color: #5E7FB1;
    }

    

    .flex h2 {
        position: relative;
        top: 20px;
        left: 15px;
        font-size: 14px;
        font-weight: 500;
        color: #5E7FB1;
    }

    

    #nom h2 {
        position: relative;
        top: 20px;
        left: 15px;
        font-size: 14px;
        font-weight: 500;
        color: #5E7FB1;
    }



////        Input Number 


    #input .item-inner {
        border: none;
    }

    #input .item {
        position: relative;
        top: 10px;
    } 



////        BTN


    .button {
        position: relative;
        margin: auto;
        transform: translateX(-50%);
        left: 50%;
        width: 65px;
        height: 65px;
        top: 2vh;
    }

    span.button-inner {
        width: 29.75px;
        transform: translateX(-25%);
      }
}
