page-faq {

  ////    NavBar
  .scroll-content{
    background-color: #F2F2F2;
  }

  .header {
    box-shadow: 0 3px 6px rgba(0,0,0,0.6);
  }

  .toolbar-background {
    background-color: #FFFFFF;
  }

  .toolbar-title {
    font-weight: 600;
    font-size: 1.1em;
    color: #525252;
  }

  .toolbar-title-md {
    text-align: center;
  }

  .arrow button {
    position: absolute;
    background-color: transparent;
    transform: translateY(-50%);
    left: 12px;
  }

  .arrow img {
    width: 12px;
  }

  .question, .answer{
    min-height: 62px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    padding:4vw;
    font-size: 1em;
    font-weight: 500;
    color: #333333;


  }

  .question {
    font-weight: bold;
  }
}