<ion-content style="background-color: #F4FAFD;">

    <div id="restau">
        <div id="img">
            <img src={{img}}/>
            <button (click)="goBack()"><img class="arrow" src="../assets/icon/arrow-left-white.svg"></button>
        </div>


        <div id="cardrestau">
            <ion-card>
                <ion-card-content>
                    <h1>{{ name }}</h1>
                    <h2>Restaurant français{{ desc }}</h2>
                    <p>{{ address }}</p>
                </ion-card-content>
            </ion-card>
        </div>
    </div>


    <!--        Menu scrollable      -->

    <ion-scroll scollX="true" class="scrollmenu">
        <ion-row flex-wrap: nowrap>
            <ion-col>
                <a href="#Menu du jour">Menu du jour</a>
            </ion-col>
            <ion-col>
                <a href="#Formules">Formules</a>
            </ion-col>
            <ion-col>
                <a href="#Entrées">Entrées</a>
            </ion-col>
            <ion-col>
                <a href="#Plats">Plats</a>
            </ion-col>
            <ion-col>
                <a href="#Desserts">Desserts</a>
            </ion-col>
        </ion-row>
    </ion-scroll>

    <!--        ///////////////      -->


    <!--        Meal choice      -->

    <div class="selection">


        <!--        Menu du jour      -->

        <div id="Menu du jour">
             
            <h2><img src="../assets/icon/cloche.svg"> Menu du jour</h2>
        </div>

        <ng-container>

            <ion-card>

                <ion-card-content>
                    <div class="entree">
                        <h3>
                            Entrées
                        </h3>
                        <ng-container *ngFor="let item of menuOfDay.id_plat">
                            <ng-container *ngIf="mapEntree.has(item)">
                                <p>{{mapEntree.get(item).name}}</p>
                            </ng-container>

                        </ng-container>
                    </div>
                    <div class="plat">
                        <h3>
                            Plat
                        </h3>
                        <ng-container *ngFor="let item of menuOfDay.id_plat">
                            <ng-container *ngIf="mapPlat.has(item)">
                                <p>{{mapPlat.get(item).name}}</p>
                            </ng-container>

                        </ng-container>
                    </div>
                    <div class="dessert">
                        <h3>
                            Dessert
                        </h3>
                        <ng-container *ngFor="let item of menuOfDay.id_plat">
                            <ng-container *ngIf="mapDessert.has(item)">
                                <p>{{mapDessert.get(item).name}}</p>
                            </ng-container>

                        </ng-container>
                    </div>

                    <div class="price">
                        {{menuOfDay.price}}€
                    </div>
                </ion-card-content>

            </ion-card>

        </ng-container>


        <!--        Formules      -->

        <div id="Formules">
            <h2>Formules</h2>
        </div>

        <ng-container *ngFor="let item of formule">

            <ion-card>

                <ion-card-content>
                    <div class="menu">
                        <h3>
                            {{item.name}}
                        </h3>
                        <ng-container *ngIf="item.nbmeals===2">
                            <p>
                                Entrée / Plat ou Plat / Dessert
                            </p>
                        </ng-container>
                        <ng-container *ngIf="item.nbmeals===3">
                            <p>
                                Entrée / Plat / Dessert
                            </p>
                        </ng-container>
                    </div>

                    <div class="price">
                        {{item.price}}€
                    </div>

        </ion-card-content>

        </ion-card>

        </ng-container>


        <!--        Entrées      -->


        <div id="repas">

            <div id="Entrées">
                <h2>Entrées</h2>
            </div>

            <ng-container *ngFor="let item of entree;index as i">
                <ion-card (click)="openDetail(0,i)">

                    <ion-card-content>
                        <div class="choix">
                            <h3> {{item.name}} </h3>
                            <p> {{item.description}} </p>
                        </div>

                        <div class="price">
                            {{item.price}}€
                        </div>
                    </ion-card-content>

                </ion-card>

            </ng-container>


            <!--       Plats      -->

            <div id="Plats">
                <h2>Plats</h2>
            </div>

            <ng-container *ngFor="let item of plat;index as i">

                <ion-card (click)="openDetail(1,i)">

                    <ion-card-content>
                        <div class="choix">
                            <h3> {{item.name}} </h3>
                            <p> {{item.description}} </p>
                        </div>

                        <div class="price">
                            {{item.price}}€
                        </div>
                    </ion-card-content>

                </ion-card>

            </ng-container>


            <!--        Desserts      -->

            <div id="Desserts">
                <h2>Desserts</h2>
            </div>

            <ng-container *ngFor="let item of dessert;index as i">

                <ion-card (click)="openDetail(2,i)">

                    <ion-card-content>
                        <div class="choix">
                            <h3> {{item.name}} </h3>
                            <p> {{item.description}} </p>
                        </div>

                        <div class="price">
                            {{item.price}}€
                        </div>
                    </ion-card-content>

                </ion-card>

            </ng-container>

        </div>

    </div>


    <!--        Total price      -->

        <div id="confirmer"> 
            <ng-container *ngIf="total!==0">
                <button ion-button round (click)="openRecap()">Confirmer {{total}}€ </button>
            </ng-container>
        </div>

    
</ion-content>