page-menu {


////    Image restaurant

  #img {
    position: relative;
    z-index: 1;
    height: 22.3vh;
  }

  #img img {
    width: 100%;
    height: 100%;
  }


////    Btn return

  #img button {
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 25px;
  }


////    Card restau

  #cardrestau  {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 10.7vh;
    height: 19.5vh;
  }

  .card-content {
    margin: auto;
    text-align: center;
    color: #5E7FB1;
  }

  .card-content h1 {
    font-size: 1.4em;
    font-weight: 600;
  }

  .card-content h2 {
    font-size: 1.2em;
    font-weight: 400;
  }

  .card-content p {
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 10px;
    color: #5E7FB1;
  }



  .full{
    position:relative;
    width: 100%;

    color: #5E7FB1;
    //background-color:#F4FAFD;

  }

    .price
    {
      text-align: right;
    }



}
