page-menu {

  .content {
    background-color: #F9F9F9;
  }

////    Image restaurant


  #img {
    position: relative;
    z-index: 1;
    height: 22.3vh;
  }

  #img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



////    Btn return


  #img button {
    position: absolute;
    background-color: transparent;
    top: 25px;
    left: 14px;
  }

  #img .arrow {
    width: 22px;
    height: 20px;
  }



////    Card restau


  #restau {
    height: 32vh;
  }

  #cardrestau {
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    position: absolute;
    z-index: 1;
    color: #333333;
  }
  
  #cardrestau p {
    text-align: center;
  }

  p.city {
    margin-top: 0 !important;
  }

  #cardrestau .card {
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  }



////    Card menu


  .card {
    margin: 12px 25px;
    width: calc(100% - 50px);
  }

  .card-content {
    margin: auto;
    text-align: center;
  }

  .card-content h1 {
    font-size: 1.3em;
    font-weight: 600;
  }

  .card-content h2 {
    font-size: 1.1em;
    font-weight: 400;
  }

  .card-content h3 {
    font-size: 1em;
    font-weight: 400;
    color: #333333;
  }

  .card-content p {
    font-size: 1.1em;
    font-weight: 500 ;
    margin-top: 10px;
    text-align: left;
    color: #333333;
  }



////   Menu scroll

  .scroll-menu {
    white-space: nowrap;
  }

  .scroll-menu .scroll-content {
    margin-top: 25px;
    height: 30px;
  }

  a {
    color: #525252;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 500;
    margin: 15px 0 15px 15px;
  }

  a:after {
    content:'';
    height:100%;
    left: 15px;
    box-sizing:border-box;
    position:absolute;
    width:10%;
    border-bottom:solid;
    border-bottom-color: #F9B522;
    border-bottom-width: 2px;
  }

  a:active:after {
    color: #333333;
    font-weight: 600;
}



////   Card menu 


  .selection {
    position:relative;
    top: 5vh;
    text-align: center;
  }

  .selection .card-content {
    padding: 20px 15px;
  }

  .selection .card {
    box-shadow: 0 0px 2px rgba(0,0,0,0.08);
  }

  h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
    color: #525252;
  }

  .price {
    text-align: right;
    color: #333333;
    font-weight: 500;
    margin-top: 3vh;
  }



      ////   Card menu du jour
  

  h2 img {
    height: 14.27px;
  }
  
  .plat h3 {
    margin-top: 20px;
  }

  .dessert h3 {
    margin-top: 20px;
  }



      ////   Card formules


  .menu h3 {
    text-align: left !important;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .menu p {
    font-weight: 200;
  }



      ////   Card entrées / plats / dessert


  #repas .card-content {
    text-align: left;
  }

  #repas .card-content h3 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  #repas p {
    font-weight: 200;
  }



////   BTN Confirmer

  #confirmer {
    padding: 5px 25px;
    background-color: #FFFFFF;
  }

  .btOK {
    width: 100%;
    background-image: linear-gradient(#F1C40F, #FFA300);
    text-transform: uppercase;
    font-weight: 600;
  }

  .btNotOK {
    width: 100%;
    background-image: linear-gradient(#CCCCCC, #CCCCCC);
    text-transform: uppercase;
    font-weight: 600;
    opacity: 1 !important; 
  }



////   Warning


  #fixed-warning {
    background-image: linear-gradient(#F1C40F, #FFA300);
    color:white;
    padding: 15px 25px;
  }

  #fixed-warning-text {
    font-size: 13px;
    font-weight: 600;
  }


}
