<ion-content (scroll)="changeArrowBackground()">
    <div id="img">
        <img src={{img}}/>
        <button (click)="goBack()"><img class="arrow" src="assets/icon/arrow-left-white.svg"></button>
    </div>
    <div id="restau">
        <div id="cardrestau">
            <ion-card>
                <ion-card-content>
                    <h1>{{ name }}</h1>
                    <h2>{{ desc }}</h2>
                    <p>{{ address }}</p>
                    <p class="city">{{ city }}</p>
                </ion-card-content>
            </ion-card>
        </div>
    </div>


    <!--        Menu scrollable      -->

    <div class="scroll-menu">
        <ion-scroll scrollX="true" style="max-width:100vw; height:40px">
                <div class="scroll" id="menudujour" (click)="openToElement('menudujour')"> Menu du jour </div>
                <div class="scroll" id="formules" (click)="openToElement('formules')"> Formules </div>
                <div class="scroll" id="entrees" (click)="openToElement('entrees')"> Entrées </div>
                <div class="scroll" id="plats" (click)="openToElement('plats')"> Plats </div>
                <div class="scroll" id="desserts" (click)="openToElement('desserts')"> Desserts </div>
                <div class="scroll" id="boissons" (click)="openToElement('boissons')"> Boissons </div>
        </ion-scroll>

    </div>

    <!--        ///////////////      -->


    <!--        Meal choice      -->

    <div class="selection" [ngSwitch]="openMenu">

        <!--        Menu du jour      -->
        <div *ngSwitchCase="'menudujour'">
            <div id="menudujour">
                <h2><img src="assets/icon/cloche.svg"> Menu du jour</h2>
            </div >
            <ng-container *ngIf="menuOfDayOne">
                <ion-card (click)="openDetailMenu(menuOfDayObjectOne.id, true)" [ngClass]="{'cardBlock' : choosenMenuID!==null && choosenMenuID!==menuOfDayObjectOne.id}">
                    <ion-card-content>
                        <div class="menu-choice">
                            <p> Plat </p>
                            <p class="price"> {{menuOfDayObjectOne.price.toFixed(2)}}€
                                <img *ngIf="choosenMenuID===menuOfDayObjectOne.id" src="assets/icon/check-sign-in-a-rounded-black-square.svg" class="iconCheckMenu" />

                            </p>

                        </div>
                    </ion-card-content>
                </ion-card>
            </ng-container>

            <ng-container *ngIf="menuOfDayThree">
                <ion-card (click)="openDetailMenu(menuOfDayObjectThree.id, true)" [ngClass]="{'cardBlock' : choosenMenuID!==null && choosenMenuID!==menuOfDayObjectThree.id}">
                    <ion-card-content>
                        <div class="menu-choice">
                            <p> Entrée / Plat / Dessert </p>
                            <p class="price"> {{menuOfDayObjectThree.price.toFixed(2)}}€ </p>
                            <img *ngIf="choosenMenuID===menuOfDayObjectThree.id" src="assets/icon/check-sign-in-a-rounded-black-square.svg" class="iconCheckMenu" />

                        </div>
                    </ion-card-content>
                </ion-card>
            </ng-container>

            <ng-container *ngIf="menuOfDayTwo">
                <ion-card (click)="openDetailMenu(menuOfDayObjectTwo.id, true)" [ngClass]="{'cardBlock' : choosenMenuID!==null && choosenMenuID!==menuOfDayObjectTwo.id}">
                    <ion-card-content>
                        <div class="menu-choice">
                            <p> Entrée / Plat ou Plat / Dessert </p>
                            <p class="price"> {{menuOfDayObjectTwo.price.toFixed(2)}}€ </p>
                            <img *ngIf="choosenMenuID===menuOfDayObjectTwo.id" src="assets/icon/check-sign-in-a-rounded-black-square.svg" class="iconCheckMenu" />

                        </div>
                    </ion-card-content>
                </ion-card>
            </ng-container>
        </div>

        <!--        Formules      -->

        <div *ngSwitchCase="'formules'">
            <div id="formules">
                <h2>Formules</h2>
            </div>
            <ng-container *ngFor="let item of formule">
                <ion-card (click)="openDetailMenu(item.id,false)" [ngClass]="{'cardBlock' : choosenMenuID!==null && choosenMenuID!==item.id}">
                    <ion-card-content>
                        <div class="choix">
                            <div class="menu">
                                <h3>
                                    {{item.name}}
                                </h3>
                                <ng-container *ngIf="item.nbmeals===2">
                                    <p>
                                        Entrée / Plat ou Plat / Dessert
                                    </p>
                                </ng-container>
                                <ng-container *ngIf="item.nbmeals===3">
                                    <p>
                                        Entrée / Plat / Dessert
                                    </p>
                                </ng-container>
                            </div>
                            <div class="price">
                                    {{item.price.toFixed(2)}}€
                                <img *ngIf="choosenMenuID===item.id" src="assets/icon/check-sign-in-a-rounded-black-square.svg" class="iconCheckMenu" />

                            </div>
                        </div>
                    </ion-card-content>

            </ion-card>

            </ng-container>
        </div>

        <!--        Entrées      -->

        <div *ngSwitchCase="'entrees'">
            <div id="repas">
                <div id="entrees" >
                    <h2>Entrées</h2>
                </div>
                <ng-container *ngFor="let item of entree;index as i">
                    <ion-card (click)="openDetail(0,i)">
                        <ion-card-content>
                            <div class="choix">
                                <div class="choice">
                                    <h3> {{item.name}} </h3>
                                    <p> {{item.description}} </p>
                                </div>
                                <div class="price">
                                    {{item.price.toFixed(2)}} €
                                    <img *ngIf="choosenId.indexOf(item.id)===-1" src="assets/icon/check-box-empty.svg"  class="iconNotCheck"/>
                                    <img *ngIf="!(choosenId.indexOf(item.id)===-1)" src="assets/icon/check-sign-in-a-rounded-black-square.svg" class="iconCheck" />
                                </div>

                            </div>

                            <!--<div class="price">-->
                                <!--{{item.price}}€-->
                            <!--</div>-->
                        </ion-card-content>
                    </ion-card>
                </ng-container>
            </div>
        </div>
        <!--       Plats      -->
        <div *ngSwitchCase="'plats'">
            <div id="plats" >
                <h2>Plats</h2>
            </div>
            <ng-container *ngFor="let item of plat;index as i">
                <ion-card (click)="openDetail(1,i)">
                    <ion-card-content>
                        <div class="choix">
                            <div class="choice">
                                <h3> {{item.name}} </h3>
                                <p> {{item.description}} </p>
                            </div>
                            <div class="price">
                                    {{item.price.toFixed(2)}} €
                                <img *ngIf="choosenId.indexOf(item.id)===-1" src="assets/icon/check-box-empty.svg"  class="iconNotCheck"/>
                                <img *ngIf="!(choosenId.indexOf(item.id)===-1)" src="assets/icon/check-sign-in-a-rounded-black-square.svg" class="iconCheck" />
                            </div>

                        </div>
                    </ion-card-content>
                </ion-card>
            </ng-container>
        </div>

        <!--        Desserts      -->

        <div *ngSwitchCase="'desserts'">
            <div id="desserts" >
                <h2>Desserts</h2>
            </div>
            <ng-container *ngFor="let item of dessert;index as i">
                <ion-card (click)="openDetail(2,i)">
                    <ion-card-content>
                        <div class="choix">
                            <div class="choice">
                                <h3> {{item.name}} </h3>
                                <p> {{item.description}} </p>
                            </div>
                            <div class="price">
                                    {{item.price.toFixed(2)}} €
                                <img *ngIf="choosenId.indexOf(item.id)===-1" src="assets/icon/check-box-empty.svg"  class="iconNotCheck"/>
                                <img *ngIf="!(choosenId.indexOf(item.id)===-1)" src="assets/icon/check-sign-in-a-rounded-black-square.svg" class="iconCheck" />
                            </div>

                        </div>
                    </ion-card-content>
                </ion-card>
            </ng-container>
        </div>

        <div *ngSwitchCase="'boissons'">
            <div id="boissons" >
                <h2>Boissons</h2>
            </div>



            <ng-container *ngFor="let item of boisson;index as i">

                <ion-card (click)="openDetail(3,i)">


                    <ion-card-content>
                        <div class="choix">
                            <div class="choice">
                                <h3> {{item.name}} </h3>
                                <p> {{item.description}} </p>
                            </div>
                            <div class="price">
                                    {{item.price.toFixed(2)}} €
                                <img *ngIf="choosenId.indexOf(item.id)===-1" src="assets/icon/check-box-empty.svg"  class="iconNotCheck"/>
                                <img *ngIf="!(choosenId.indexOf(item.id)===-1)" src="assets/icon/check-sign-in-a-rounded-black-square.svg" class="iconCheck" />
                            </div>

                        </div>
                    </ion-card-content>
                </ion-card>
            </ng-container>
        </div>

    </div>
</ion-content>

    <!--        Total price      -->

<ion-footer>
        <div id="confirmer">
            <ng-container *ngIf="total !==0 &&(((schedule && nbPers)) || participate)">
                <button ion-button round (click)="openRecap()" class="btOK"> Confirmer  &nbsp;&nbsp;&nbsp;&nbsp; {{total}} € </button>
            </ng-container>
            <ng-container *ngIf="total===0 && ((schedule && nbPers) || participate)">
                <button ion-button round (click)="openRecap()" class="btNotOK" disabled="true"> Confirmer  &nbsp;&nbsp;&nbsp;&nbsp; {{total}} € </button>
            </ng-container>
        </div>




    <ng-container *ngIf="(!schedule && !participate) || (!nbPers && !participate)  ">
        <div id="fixed-warning">
            <div id="fixed-warning-text">
                Pour réserver, vous devez renseigner le nombre de personnes attendu ainsi que l'heure d'arrivée
            </div>
        </div>
    </ng-container>
</ion-footer>
