<ion-content>

    <div id="restau">
        <div id="img">
            <img src={{img}}/>
            <button (click)="goBack()"><img class="arrow" src="assets/icon/arrow-left-white.svg"></button>
        </div>


        <div id="cardrestau">
            <ion-card>
                <ion-card-content>
                    <h1>{{ name }}</h1>
                    <h2>{{ desc }}</h2>
                    <p>{{ address }}</p>
                    <p class="city">{{ city }}</p>
                </ion-card-content>
            </ion-card>
        </div>
    </div>


    <!--        Menu scrollable      -->
    <div class="scroll-menu">
        <ion-scroll scrollX="true" style="width:100%; height:40px" >
                <a (click)="scrollToElement(0)"> Menu du jour </a>
                <a (click)="scrollToElement(1)"> Formules </a>
                <a (click)="scrollToElement(2)"> Entrées </a>
                <a (click)="scrollToElement(3)"> Plats </a>
                <a (click)="scrollToElement(4)"> Desserts </a>
        </ion-scroll>
    </div>
    <!--        ///////////////      -->


    <!--        Meal choice      -->

    <div class="selection">


        <!--        Menu du jour      -->

        <div id="menudujour" >

             
            <h2><img src="assets/icon/cloche.svg"> Menu du jour</h2>
        </div >

        <ng-container>

            <ion-card (click)="openDetailMenu(menuOfDay.id, true)">

                <ion-card-content>
                    <div class="entree">
                        <h3>
                            Entrée
                        </h3>
                        <ng-container *ngFor="let item of menuOfDay.id_plat">
                            <ng-container *ngIf="mapEntree.has(item)">
                                <p>{{mapEntree.get(item).name}}</p>
                            </ng-container>

                        </ng-container>
                    </div>
                    <div class="plat">
                        <h3>
                            Plat
                        </h3>
                        <ng-container *ngFor="let item of menuOfDay.id_plat">
                            <ng-container *ngIf="mapPlat.has(item)">
                                <p>{{mapPlat.get(item).name}}</p>
                            </ng-container>

                        </ng-container>
                    </div>
                    <div class="dessert">
                        <h3>
                            Dessert
                        </h3>
                        <ng-container *ngFor="let item of menuOfDay.id_plat">
                            <ng-container *ngIf="mapDessert.has(item)">
                                <p>{{mapDessert.get(item).name}}</p>
                            </ng-container>

                        </ng-container>
                    </div>

                    <div class="price">
                        {{menuOfDay.price}}€
                    </div>
                </ion-card-content>

            </ion-card>

        </ng-container>


        <!--        Formules      -->

        <div id="formules">
            <h2>Formules</h2>
        </div>

        <ng-container *ngFor="let item of formule">

            <ion-card (click)="openDetailMenu(item.id,false)">

                <ion-card-content>
                    <div class="menu">
                        <h3>
                            {{item.name}}
                        </h3>
                        <ng-container *ngIf="item.nbmeals===2">
                            <p>
                                Entrée / Plat ou Plat / Dessert
                            </p>
                        </ng-container>
                        <ng-container *ngIf="item.nbmeals===3">
                            <p>
                                Entrée / Plat / Dessert
                            </p>
                        </ng-container>
                    </div>

                    <div class="price">
                        {{item.price}}€
                    </div>

        </ion-card-content>

        </ion-card>

        </ng-container>


        <!--        Entrées      -->


        <div id="repas">

            <div id="entrees" >

                <h2>Entrées</h2>
            </div>

            <ng-container *ngFor="let item of entree;index as i">
                <ion-card (click)="openDetail(0,i)">

                    <ion-card-content>
                        <div class="choix">
                            <h3> {{item.name}} </h3>
                            <p> {{item.description}} </p>
                        </div>

                        <div class="price">
                            {{item.price}}€
                        </div>
                    </ion-card-content>

                </ion-card>

            </ng-container>


            <!--       Plats      -->

            <div id="plats" >

                <h2>Plats</h2>
            </div>

            <ng-container *ngFor="let item of plat;index as i">

                <ion-card (click)="openDetail(1,i)">

                    <ion-card-content>
                        <div class="choix">
                            <h3> {{item.name}} </h3>
                            <p> {{item.description}} </p>
                        </div>

                        <div class="price">
                            {{item.price}}€
                        </div>
                    </ion-card-content>

                </ion-card>

            </ng-container>


            <!--        Desserts      -->

            <div id="desserts" >

                <h2>Desserts</h2>
            </div>

            <ng-container *ngFor="let item of dessert;index as i">

                <ion-card (click)="openDetail(2,i)">

                    <ion-card-content>
                        <div class="choix">
                            <h3> {{item.name}} </h3>
                            <p> {{item.description}} </p>
                        </div>

                        <div class="price">
                            {{item.price}}€
                        </div>
                    </ion-card-content>

                </ion-card>

            </ng-container>

        </div>

    </div>
</ion-content>

    <!--        Total price      -->

<ion-footer>
        <div id="confirmer"> 
            <ng-container *ngIf="total !==0 &&(((schedule && nbPers)) || participate)">
                <button ion-button round (click)="openRecap()" class="btOK"> Confirmer  &nbsp;&nbsp;&nbsp;&nbsp; {{total}} € </button>
            </ng-container>
            <ng-container *ngIf="total===0 && ((schedule && nbPers) || participate)">
                <button ion-button round (click)="openRecap()" class="btNotOK" disabled="true"> Confirmer  &nbsp;&nbsp;&nbsp;&nbsp; {{total}} € </button>
            </ng-container>
        </div>


    <ng-container *ngIf="(!schedule && !participate) || (!nbPers && !participate)  ">
        <div id="fixed-warning">
            <div id="fixed-warning-text">
                Pour réserver, vous devez renseigner le nombre de personnes attendu ainsi que l'heure d'arrivée
            </div>
        </div>
    </ng-container>
</ion-footer>
