page-menu {

  .content {
    background-color: #F2F2F2;
  }

////    Image restaurant


  #img {
    position: relative;
    z-index: 1;
    height: 22.3vh;
  }

  #img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

////    Btn return

  #img button {
    position: absolute;
    background-color: transparent;
    top: 25px;
    left: 14px;
  }

  #img .arrow {
    width: 22px;
    height: 20px;
  }

////    Card restau

  #restau {
    height: 32vh;
  }

  #cardrestau {
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    position: absolute;
    z-index: 1;
    color: #333333;
  }

  #cardrestau p {
    text-align: center;
  }

  p.city {
    margin-top: 0 !important;
  }

  #cardrestau .card {
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);



}



////    Card menu


  .menu-choice{
    display: flex;
    justify-content: space-between;

    p{
      font-weight: 500 !important;
      font-size:16px !important;
      max-width:80%;
    }
  }

  .choix{
    display: flex;
    justify-content: space-between;
  }

  .choice {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .card {
    margin: 12px 25px;
    width: calc(100% - 50px);
  }

  .card-content {
    margin: auto;
    text-align: center;
  }

  .card-content h1 {
    font-size: 1.3em;
    font-weight: 600;
  }

  .card-content h2 {
    font-size: 1.1em;
    font-weight: 400;
    font-weight: 400;
  }

  .card-content h3 {
    text-align: left !important;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .card-content p {
    font-size: 1em;
    font-weight: 200;
    margin-top: 10px;
    text-align: left;
    color: #333333;
  }



////   Menu scroll

  .scroll-menu {
    white-space: nowrap;
  }

  .scroll-menu .scroll-content {
    margin-top: 25px;
    height: 45px;
  }

  .scroll {
    color: #525252;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 500;
    margin: 15px 0 15px 15px;
    float:left;
    border-bottom: 2px solid #F2F2F2;
    padding-bottom: 3px;
  }

  .scroll:first-child{
    border-bottom: 2px solid #F9B522;
  }

  .scroll:active:after {
    color: #333333;
    font-weight: 600;
}



////   Card menu


  .selection {
    position:relative;
    top: 5vh;
    text-align: center;
    padding-bottom: 1vh;
  }

  .selection .card-content {
    padding: 20px 15px;
  }

  .selection .card {
    box-shadow: 0 0px 2px rgba(0,0,0,0.08);
  }

  h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
    color: #525252;
    margin-top: 2.8rem;
  }

  .price {
    max-width:20%;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    color: #333333;
    font-weight: 500;
    font-size: 16px;


    img{
      width:30px;
    }
  }

  .price-plat {
    max-width:20%;
    font-weight: 500 !important;
  }




  //checkbox img plat

  .iconNotCheck{
    width: 20px;
    height: 20px;
    margin-top:28%;
  }
  .iconCheck{
    width: 20px;
    height: 20px;
    margin-top:28%;
  }

      ////   Card menu du jour


  h2 img {
    height: 14.27px;
  }

  .plat h3 {
    margin-top: 20px;
  }

  .dessert h3 {
    margin-top: 20px;
  }

  .boisson h3 {
    margin-top: 20px;
  }



      ////   Card formules

  .menu{
    max-width: 80%;
  }

  .menu h3 {
    text-align: left !important;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .menu p {
    font-weight: 200;
    font-size: 16px;
  }



      ////   Card entrées / plats / dessert


  #repas .card-content {
    text-align: left;
  }

  #repas .card-content h3 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  #repas p {
    font-weight: 200;
  }



////   BTN Confirmer

  #confirmer {
    padding: 5px 25px;
    background-color: #FFFFFF;
  }

  .btOK {
    width: 100%;
    background-image: linear-gradient(#F1C40F, #FFA300);
    text-transform: uppercase;
    font-weight: 600;
  }

  .btNotOK {
    width: 100%;
    background-image: linear-gradient(#CCCCCC, #CCCCCC);
    text-transform: uppercase;
    font-weight: 600;
    opacity: 1 !important;
  }
  .scroll-zoom-wrapper
  {
    width: 1000px;
  }



////   Warning


  #fixed-warning {
    background-image: linear-gradient(#F1C40F, #FFA300);
    color:white;
    padding: 15px 25px;
  }

  #fixed-warning-text {
    font-size: 13px;
    font-weight: 600;
  }

  .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    top: 0;
    bottom: auto;
    background-position: left 0 top 0;
    height: 0;
}


}
