$break-iphoneX: 720px;
$break-iphoneSE: 321px;
$break-iphone6: 376px;
$break-iphonePlus: 414px;

page-confirm {
  .all {
    /* old
    position: relative;
    */
    background-color: #FFA300;
    height: 100vh;
  }

  .scroll-content {
    overflow: hidden;
  }

  .code {
    /*old
    position: relative;
    width: 100%;
    top: 9.7vh;
    */
    /* new */
    margin-top: 1vh;

    background-color: white;
    height: 59px;
  }

  .img-table {
    /*new*/
    background-image: url(../assets/imgs/code-complete.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

    min-width: 100%;
    height: 59%;
  }

  .padding {
    /* new */
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    margin:auto;
    /* old
    padding: 25px;*/
  }

  .pattern {
    background-image: url(../assets/imgs/pattern-little.svg);

    /* old
    height: 306px;*/

    /* new */
    width:100%;
    position:absolute;
    bottom:12vh;
    background-position: center;
    background-size: cover;
    @media screen and (min-height: $break-iphoneX) {
      bottom:2vh;
    }
  }

  .text1 {
    /* old
    position: absolute;
    top: 48.5vh;
    */
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 600;
  }

  .text2 {
    /* old
    position: absolute;
    top: 56.2vh;
    */
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 600;
    /* new */
    margin-top: 1vh;
  }

  .text3 {
    /*
    position: absolute;
    top: 65.2vh;
    */
    font-size: 14px;
    color: #FFFFFF;
    /* new */
    margin-top: 1vh;
  }

  .item-check {
    /* old
    position: relative;
    margin: auto;
    transform: translateX(-50%);
    left: 50%;
    top: 9vh;
    */
    /* new */
    margin: auto;
    margin-top: 1vh;

    width: 65px;
    height: 65px;
    background-color: #FFFFFF;
    box-shadow: none;
  }

  .label {
    text-align: center;
    line-height: 59px;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
  }

  /* new */
  .label-ios{
    margin:0;
  }

  .label-md{
    margin:0;
  }

  .text-input {
    height: 7.50%;
    text-align: center;
  }

  span.button-inner {
    position: relative;
    margin: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 29.75px;
    height: 21.64px;
  }


}
